{% extends 'blog/base.html' %} <!-- says that this template will extend the base.html template -->

{% block content %} <!-- this is the block that will be sent to the base.html template (it has the same name in both files) -->
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <!-- <h2><a href="">{{ post.title }}</a></h2> -->
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}